In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('orders (1).csv')

In [3]:
df

              Time  Type  Instrument Product       Qty.  Avg. price     Status
0   18/12/21 10:23  SELL         SBI     CNC  1000/1000      525.25   COMPLETE
1   16/12/21 15:08   BUY    ASHOKLEY     MIS  1000/1000      125.70   COMPLETE
2   16/12/21 15:08   BUY         SBI     CNC  1000/1000      520.80   COMPLETE
3   16/12/21 14:13   BUY  TATAMOTORS     MIS    250/250      490.55   COMPLETE
4   16/12/21 13:54   BUY    ASHOKLEY     MIS     0/1000      127.10  CANCELLED
5   16/12/21 13:21  SELL  TATAMOTORS     MIS    250/250      492.10   COMPLETE
6   16/12/21 12:51   BUY  TATAMOTORS     MIS      0/250      490.80  CANCELLED
7   16/12/21 12:39  SELL    ASHOKLEY     MIS  1000/1000      125.96   COMPLETE
8   16/12/21 12:29   BUY    ASHOKLEY     MIS  2000/2000      125.70   COMPLETE
9   16/12/21 11:22  SELL    ASHOKLEY     MIS  2000/2000      125.95   COMPLETE
10  16/12/21 10:47  SELL    ASHOKLEY     MIS     0/2000      124.45  CANCELLED
11  16/12/21 10:46  SELL    ASHOKLEY     MIS  2000/2000      125.95   COMPLETE
12  16/12/21 10:24   BUY    ASHOKLEY     MIS  1000/1000      125.60   COMPLETE
13  16/12/21 10:23   BUY    ASHOKLEY     MIS  1000/1000      125.65   COMPLETE

In [4]:
df.head()

             Time  Type  Instrument Product       Qty.  Avg. price     Status
0  18/12/21 10:23  SELL         SBI     CNC  1000/1000      525.25   COMPLETE
1  16/12/21 15:08   BUY    ASHOKLEY     MIS  1000/1000      125.70   COMPLETE
2  16/12/21 15:08   BUY         SBI     CNC  1000/1000      520.80   COMPLETE
3  16/12/21 14:13   BUY  TATAMOTORS     MIS    250/250      490.55   COMPLETE
4  16/12/21 13:54   BUY    ASHOKLEY     MIS     0/1000      127.10  CANCELLED

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time        14 non-null     object
 1   Type        14 non-null     object
 2   Instrument  14 non-null     object
 3   Product     14 non-null     object
 4   Qty.        14 non-null     object
 5   Avg. price  14 non-null     float64
 6   Status      14 non-null     object
dtypes: float64(1), object(6)
memory usage: 916.0+ bytes

In [6]:
df.shape

(14, 7)

In [7]:
df.describe

<bound method NDFrame.describe of               Time  Type  Instrument Product       Qty.  Avg. price     Status
0   18/12/21 10:23  SELL         SBI     CNC  1000/1000      525.25   COMPLETE
1   16/12/21 15:08   BUY    ASHOKLEY     MIS  1000/1000      125.70   COMPLETE
2   16/12/21 15:08   BUY         SBI     CNC  1000/1000      520.80   COMPLETE
3   16/12/21 14:13   BUY  TATAMOTORS     MIS    250/250      490.55   COMPLETE
4   16/12/21 13:54   BUY    ASHOKLEY     MIS     0/1000      127.10  CANCELLED
5   16/12/21 13:21  SELL  TATAMOTORS     MIS    250/250      492.10   COMPLETE
6   16/12/21 12:51   BUY  TATAMOTORS     MIS      0/250      490.80  CANCELLED
7   16/12/21 12:39  SELL    ASHOKLEY     MIS  1000/1000      125.96   COMPLETE
8   16/12/21 12:29   BUY    ASHOKLEY     MIS  2000/2000      125.70   COMPLETE
9   16/12/21 11:22  SELL    ASHOKLEY     MIS  2000/2000      125.95   COMPLETE
10  16/12/21 10:47  SELL    ASHOKLEY     MIS     0/2000      124.45  CANCELLED
11  16/12/21 10:46  SELL    ASHOKLEY     MIS  2000/2000      125.95   COMPLETE
12  16/12/21 10:24   BUY    ASHOKLEY     MIS  1000/1000      125.60   COMPLETE
13  16/12/21 10:23   BUY    ASHOKLEY     MIS  1000/1000      125.65   COMPLETE>

SEPERATED QTY COLUMN INTO PLACED AND EXECUTED QUANTITY

In [8]:
df[['executed_qty', 'placed_qty']] = df['Qty.'].str.split('/', expand=True)
df['executed_qty'] = df['executed_qty'].astype(int)
df['placed_qty'] = df['placed_qty'].astype(int)

In [9]:
df['executed_qty']

0     1000
1     1000
2     1000
3      250
4        0
5      250
6        0
7     1000
8     2000
9     2000
10       0
11    2000
12    1000
13    1000
Name: executed_qty, dtype: int64

In [10]:
df.head()

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,executed_qty,placed_qty
0,18/12/21 10:23,SELL,SBI,CNC,1000/1000,525.25,COMPLETE,1000,1000
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE,1000,1000
2,16/12/21 15:08,BUY,SBI,CNC,1000/1000,520.80,COMPLETE,1000,1000
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE,250,250
4,16/12/21 13:54,BUY,ASHOKLEY,MIS,0/1000,127.10,CANCELLED,0,1000

MIS = INTRADAY ONLY
EXECUTED QTY SHOULD BE GREATER THAN 0
STATUS SHOULD BE COMPLETE

In [11]:
df = df[df['Product'] ==  'MIS']
df = df[df['executed_qty'] > 0]
df = df[df['Status'] == 'COMPLETE']

In [12]:
df

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,executed_qty,placed_qty
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE,1000,1000
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE,250,250
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE,250,250
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE,1000,1000
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE,2000,2000
9,16/12/21 11:22,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE,2000,2000
11,16/12/21 10:46,SELL,ASHOKLEY,MIS,2000/2000,125.95,COMPLETE,2000,2000
12,16/12/21 10:24,BUY,ASHOKLEY,MIS,1000/1000,125.60,COMPLETE,1000,1000
13,16/12/21 10:23,BUY,ASHOKLEY,MIS,1000/1000,125.65,COMPLETE,1000,1000

TURNOVER = QUANTITY * AVG PRICE

In [13]:
df['turnover'] = df['executed_qty'] * df['Avg. price']

In [14]:
df.head()

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,executed_qty,placed_qty,turnover
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE,1000,1000,125700.0
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE,250,250,122637.5
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE,250,250,123025.0
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE,1000,1000,125960.0
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE,2000,2000,251400.0

BROKERAGE CHARGES

In [15]:
def brokerage (turnover):
    return min(20, 0.0003 * turnover)

STT - SECURITIES TRANSACTION CHARGES

In [16]:
def stt(turnover, trade_type):
    return turnover * 0.00025 if trade_type == 'SELL' else 0

ETC - EXCHANGE TRANSACTION CHARGES

In [17]:
def exchange_txn(turnover):
    return turnover * 0.0000325

SEBI CHARGES

In [18]:
def sebi_charges(turnover):
    return turnover * 0.000001

GST CALCULATION

In [19]:
def gst(brokerage, exchange): 
    return 0.18 * (brokerage + exchange)

STAMP DUTY

In [20]:
def stamp_duty(turnover): 
    return turnover * 0.00003

In [21]:
df['Brokerage'] = df['turnover'].apply(brokerage)

In [22]:
df['Brokerage']

1     20
3     20
5     20
7     20
8     20
9     20
11    20
12    20
13    20
Name: Brokerage, dtype: int64

In [23]:
df.head()

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,executed_qty,placed_qty,turnover,Brokerage
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE,1000,1000,125700.0,20
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE,250,250,122637.5,20
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE,250,250,123025.0,20
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE,1000,1000,125960.0,20
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE,2000,2000,251400.0,20

In [24]:
df['STT'] = df.apply( lambda x: stt(x['turnover'], x['Type']), axis=1)

In [25]:
df['STT']

1      0.00000
3      0.00000
5     30.75625
7     31.49000
8      0.00000
9     62.97500
11    62.97500
12     0.00000
13     0.00000
Name: STT, dtype: float64

In [26]:
df['Exchange'] = df['turnover'].apply(exchange_txn)

In [27]:
df['SEBI'] = df['turnover'].apply(sebi_charges)

In [28]:
df['Stamp'] = df['turnover'].apply(stamp_duty)

In [29]:
df.head()

,Time,Type,Instrument,Product,Qty.,Avg. price,Status,executed_qty,placed_qty,turnover,Brokerage,STT,Exchange,SEBI,Stamp
1,16/12/21 15:08,BUY,ASHOKLEY,MIS,1000/1000,125.70,COMPLETE,1000,1000,125700.0,20,0.00000,4.085250,0.125700,3.771000
3,16/12/21 14:13,BUY,TATAMOTORS,MIS,250/250,490.55,COMPLETE,250,250,122637.5,20,0.00000,3.985719,0.122637,3.679125
5,16/12/21 13:21,SELL,TATAMOTORS,MIS,250/250,492.10,COMPLETE,250,250,123025.0,20,30.75625,3.998312,0.123025,3.690750
7,16/12/21 12:39,SELL,ASHOKLEY,MIS,1000/1000,125.96,COMPLETE,1000,1000,125960.0,20,31.49000,4.093700,0.125960,3.778800
8,16/12/21 12:29,BUY,ASHOKLEY,MIS,2000/2000,125.70,COMPLETE,2000,2000,251400.0,20,0.00000,8.170500,0.251400,7.542000

In [30]:
df['GST'] = df.apply(lambda x: gst(x['Brokerage'], x["Exchange"]), axis=1)

TOTAL CHARGES = BROKERAGE + STT + EXCHANGE + SEBI + GST + STAMP

In [31]:
df["Total_charges"] = df[
    ['Brokerage', 'STT', 'Exchange','SEBI', 'GST', 'Stamp']
].sum(axis=1)

solution 2

In [33]:
solu2 = df.groupby(['Instrument', 'Type']).agg(
    Qty = ('executed_qty', 'sum'),
    Turnover = ('turnover', 'sum'),
    Brokerage = ('Brokerage', 'sum'), 
    STT_CTT = ('STT', 'sum'),
    ETC = ('Exchange', 'sum'), 
    SEBI = ('SEBI','sum'), 
    GST = ('GST', 'sum'), 
    Stamp_charges = ('Stamp', 'sum'), 
    Total_charges = ('Total_charges', 'sum')
).reset_index()

In [81]:
solu2

,Instrument,Type,Qty,Turnover,Brokerage,STT_CTT,ETC,SEBI,GST,Stamp_charges,Total_charges
0,ASHOKLEY,BUY,5000,628350.0,80,0.00000,20.421375,0.628350,18.075847,18.850500,137.976072
1,ASHOKLEY,SELL,5000,629760.0,60,157.44000,20.467200,0.629760,14.484096,18.892800,271.913856
2,TATAMOTORS,BUY,250,122637.5,20,0.00000,3.985719,0.122637,4.317429,3.679125,32.104911
3,TATAMOTORS,SELL,250,123025.0,20,30.75625,3.998312,0.123025,4.319696,3.690750,62.888034

WEIGHTED AVERAGE

In [34]:
solu2['weighted_avg'] = solu2['Turnover'] / solu2['Qty']

In [35]:
solu2.head()

,Instrument,Type,Qty,Turnover,Brokerage,STT_CTT,ETC,SEBI,GST,Stamp_charges,Total_charges,weighted_avg
0,ASHOKLEY,BUY,5000,628350.0,80,0.00000,20.421375,0.628350,18.075847,18.850500,137.976072,125.670
1,ASHOKLEY,SELL,5000,629760.0,60,157.44000,20.467200,0.629760,14.484096,18.892800,271.913856,125.952
2,TATAMOTORS,BUY,250,122637.5,20,0.00000,3.985719,0.122637,4.317429,3.679125,32.104911,490.550
3,TATAMOTORS,SELL,250,123025.0,20,30.75625,3.998312,0.123025,4.319696,3.690750,62.888034,492.100

In [36]:
solu2 = solu2[
    [
        'Instrument', 'Type', 'Qty', 'weighted_avg', 'Turnover', 'Brokerage', 'STT_CTT', 'ETC', 'SEBI', 'GST', 'Stamp_charges', 'Total_charges'
    ]
]

In [123]:
solu2

,Instrument,Type,Qty,weighted_avg,Turnover,Brokerage,STT_CTT,ETC,SEBI,GST,Stamp_charges,Total_charges
0,ASHOKLEY,BUY,5000,125.670,628350.0,80,0.00000,20.421375,0.628350,18.075847,18.850500,137.976072
1,ASHOKLEY,SELL,5000,125.952,629760.0,60,157.44000,20.467200,0.629760,14.484096,18.892800,271.913856
2,TATAMOTORS,BUY,250,490.550,122637.5,20,0.00000,3.985719,0.122637,4.317429,3.679125,32.104911
3,TATAMOTORS,SELL,250,492.100,123025.0,20,30.75625,3.998312,0.123025,4.319696,3.690750,62.888034

In [38]:
df.columns

Index(['Time', 'Type', 'Instrument', 'Product', 'Qty.', 'Avg. price', 'Status',
       'executed_qty', 'placed_qty', 'turnover', 'Brokerage', 'STT',
       'Exchange', 'SEBI', 'Stamp', 'GST', 'Total_charges'],
      dtype='object')

In [43]:
buy = df[df['Type'] == 'Buy'].groupby('Instrument')['turnover'].sum()
sell = df[df['Type'] == 'Sell'].groupby('Instrument')['turnover'].sum()
charges = df.groupby('Instrument')['Total_charges'].sum()

summary = pd.DataFrame({
    'Buy Value': buy,
    'Sell Value': sell,
    'Total_charges': charges
}).fillna(0)

summary['Gross PnL'] = summary['Sell Value'] - summary['Buy Value']
summary['Net PnL'] = summary['Gross PnL'] - summary['Total_charges']

summary['% Charges on Gross PnL'] = summary.apply(
    lambda x: (x['Total Charges'] / abs(x['Gross PnL']) * 100)
    if x['Gross PnL'] != 0 else 0,
    axis=1
)

summary = summary[['Gross PnL','Total_charges','Net PnL','% Charges on Gross PnL']]

In [45]:
summary

            Gross PnL  Total_charges     Net PnL  % Charges on Gross PnL
Instrument
ASHOKLEY          0.0     409.889928 -409.889928                       0
TATAMOTORS        0.0      94.992944  -94.992944                       0

In [50]:
with pd.ExcelWriter('Kite_PnL_Summary.xlsx', engine='xlsxwriter') as writer:
    df.to_excel(writer, sheet_name='Trade Level', index=False)
    solu2.to_excel(writer, sheet_name='Stock & Type Wise', index=False)
    summary.reset_index().to_excel(writer, sheet_name='Overall Summary', index=False)

In [48]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading xlsxwriter-3.2.9-py3-none-any.whl.metadata (2.7 kB)
Downloading xlsxwriter-3.2.9-py3-none-any.whl (175 kB)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.9